.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}


button.close-popup-2:hover, button.close-popup-2:focus {
    opacity: 1;
}

button.close-popup-2 {
color: #333;
overflow: visible;
cursor: pointer;
background: transparent;
border: 0;
-webkit-appearance: none;
display: block;
outline: none;
padding: 0;
z-index: 1046;
box-shadow: none;
touch-action: manipulation;
width: 44px;
height: 44px;
line-height: 44px;
position: absolute;
right: 0;
top: 0;
text-decoration: none;
text-align: center;
opacity: 0.65;
font-style: normal;
font-size: 28px;
font-family: Arial, Baskerville, monospace;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}
